<!DOCTYPE html>
<html>

<head>
    <style>
        /* Add CSS styles for your PDF page */

        .imgStyles {
            width: 100px;
            height: 100px;
        }

        .pageBreak {
            page-break-after: always;
        }
    </style>
</head>

<body>

    <% for(var i=0; i < imgArray.length; i++) { %>
        <div class="pageBreak">
            <h1>Welcome <%= name %>!</h1>
            <p>Your email address is: <%= email %>
            </p>
            <img src="<%=imgArray[i]%>" class="imgStyles" />
        </div>
    <% } %>
            <!-- Add more dynamic content as needed -->
</body>

</html>